@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root {
    --esaturated-red: hsl(0, 36%, 70%);
    --esaturated-red-shadow: hsla(0, 36%, 70%, .3);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    /* min-height: 100vh; */
}
.container {
    padding: 0 17rem 0 21rem;
}

.hero {
    display: grid;
    grid-template-columns: 1.35fr 1fr;
    min-height: 100vh;
    background: url(./images/bg-pattern-desktop.svg) no-repeat, var(--gradient1);
    background-size: contain;
}
.hero__image {
    grid-area: 1 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
    background: url('./images/hero-desktop.jpg') no-repeat center/cover;
}

.hero__logo {
    margin: 6rem 0 0;
    height: 5rem;
}
.hero__content {
    height: 45rem;
}
.hero__title {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    color: var(--dark-grayish-red);
    line-height: 1.1;
}
.hero__title span {
    color: var(--esaturated-red);
    font-weight: 300;
}
.hero__text {
    color: var(--esaturated-red);
    padding: 4rem 0 5rem;
    line-height: 1.5;
}

.hero__form {
    position: relative;
}
.hero__form input[type="text"] {
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--esaturated-red);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    font: inherit;
}
.hero__form input[type="text"]::placeholder {
    color: var(--esaturated-red);
    opacity: .5;
}
.hero__form input[type="submit"] {
    height: 4.8rem;
    width: 9rem;
    border: none;
    background: url(./images/icon-arrow.svg) no-repeat center, var(--gradient2) ;
    border-radius: 50px;
    box-shadow: 0 10px 10px  var(--esaturated-red-shadow);
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.hero__form input[type="submit"]:hover {
    opacity: .5;
}
.error {
    display: none;
    position: absolute;
    height: 2rem;
    top: calc(50% - 1rem);
    right: calc(9rem + 2rem);
}
.error__border {
    border: 2px solid var(--soft-red);
}
.error__text {
    display: none;
    color: var(--esaturated-red);
    font-size: 1.1rem;
    padding: 1rem 0 0 2rem;
}
.active {
    display: block;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 3rem;
    }
    .hero {
        grid-template-columns: 1fr;
        background: var(--gradient1);
    }
    .hero__image {
        grid-area: 2 / 1 / 3 / 2;
        height: 25rem;
        width: auto;
        background: url(./images/hero-mobile.jpg) no-repeat center/cover;
    }
    .hero__logo {
        margin-top: 3rem;
    }
    .hero__content {
        text-align: center;
    }
    .hero__title {
        margin-top: 4rem;
        font-size: 5rem;
        letter-spacing: 1rem;
    }
    .hero__text {
        padding: 1.5rem 0 2rem;
        font-size: 1.4rem;
    }
    .hero__form input[type="submit"] {
        width: 7rem;
    }
    .error {
        right: calc(7rem + 1.5rem);
    }
    .error__text {
        text-align: left;
    }
}