@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* || VARIABLES */
:root{
    /* ---COLORS */
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --dark-blue: hsl(240, 100%, 5%);

    /* ---FONTS */
    --fs: 15px;
    --ff: Inter, sans-serif;
}

/* || RESET AND GENERAL STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--ff);
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.sr-only {
    position: absolute;
    top:-1000px;
}
img {
    display: block;
    max-width: 100%;
}

body {
    padding: 1.5rem;
    font-size: 1.5rem;
}
h1 {
    text-shadow: 0 1px,1px 0, 0 -1px, -1px 0;
    letter-spacing: .1rem;
    font-size: 4rem;
}
h2 {
    color: var(--orange);
    font-size: 2.8rem;
    letter-spacing: .2rem;
}
p {
    color: var(--dark-grayish-blue);
    line-height: 1.5;
}

/* || HEADER */
.header__nav {
    display: none;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.header__logo {
    width: 5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
    margin-bottom: 6rem;
}
/* ||HERO */
.hero__title {
    margin: 2rem 0;
}
.hero__btn {
    display: block;
    margin: 2rem 0;
    padding: 1.5rem 1rem;
    width: 55%;
    text-align: center;
    letter-spacing: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--red);
    color: var(--white);
}
.hero__btn:hover {
    background-color: var(--dark-blue);transition: .2s;
}

/* || NEW */
.new {
    background-color: var(--dark-blue);
    padding: 2rem;
}
.new__card {
    margin: 3rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--dark-grayish-blue);
}
.new__card:last-of-type {
    border-bottom: none;
    padding: 0;
    margin-bottom: 1rem;
}
.new__cardTitle {
    color: var(--white);
    letter-spacing: .15rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
}
.new__cardTitle:hover {
    color: var(--orange);
    transition: .2s;
}
.new__cardInfo {
    margin-top: 1rem;
}

/* || BLOG */
.blog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}
.blog__card {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 2rem;
}
.blog__cardContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.blog__cardNumber {
    font-size: 3rem;
    font-weight: 900;
    color: var(--grayish-blue);
}
.blog__cardTitle {
    text-decoration: none;
    font-weight: 900;
    color: var(--dark-blue);
    font-size: 1.7rem;
    text-shadow: 0 .2px, .2px 0, 0 -.2px, -.2px 0;
    letter-spacing: .1rem;
}
.blog__cardTitle:hover {
    color: var(--orange);
    transition: .2s;
}

@media screen and (min-width: 768px) {
    .header__btn--close, 
    .header__btn {
        display: none;
    }
    .header__nav {
        display: block;
    }
    .header__links {
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style-type: none;
    }
    .header__link a{
        text-decoration: none;
        color: var(--dark-grayish-blue);
    }
    .header__link a:hover,
    .header__link a:active {
        color: var(--orange);
    }
    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 4rem;
    }
    .hero__img {
        grid-area: 1 / 1 / 2 / 3;
    }
    .hero__title {
        margin: 0;
    }
    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    body {
        padding: 5rem 10%;
    }
    main {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
    .header__container {
        margin-bottom: 4rem;
    }
    .header__links {
        gap: 4rem;
    }
    .hero {
        grid-area: 1 / 1 / 3 / 3;
    }
    .hero__title {
        font-size: 4.8rem;
        letter-spacing: .3rem;
    }
    .hero__content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .new {
        grid-area: 1 / 3 / 3 / 4;
    }
    .new__card:last-of-type {
        margin-bottom: 0;
    }

    .blog {
        grid-area: 3 / 1 / 4 / 4;
        grid-template-columns: repeat(3, 1fr);
    }
    .blog__cardImg {
        align-self: center;
    }
    
}
@media screen and (min-width: 1440px) {
    .new {
        padding: 2rem 4rem;
    }
}